<img src="http://drive.google.com/uc?export=view&id=1tpOCamr9aWz817atPnyXus8w5gJ3mIts" width=500px>

Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

---
# Python Practice Exercise - ACSE - IITM
---

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Write a program to retrieve the second element from the list
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

lis = [[10, 20,'a'], [30,'b',40], ['x', 50]]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Write a program to exchange the values of two numbers (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    not(3>4), not(1&1)

**Options:**<br>

A. False, True<br>
B. (False, True)<br>
C. (True, False)<br>
D. True, False

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

     z = 'indiaismycountry'
     x = z[:4]
     y = z[4:]
     x+y

**Options:**<br>

A. 'indi ismycountry'<br>
B. 'indiismycountry'<br>
C. 'indiaismycountry'<br>
D. 'indi aismycountry'

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                             def func(x = 1, y = 2):
                                 x = x + y
                                 y += 1
                                 print(x, y)
                                 
                             func(y = 2, x = 1)

**Options:**<br>

A. 3,3<br>
B. 3,4<br>
C. 3 4<br>
D. 3 3

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                               def greetPerson(*name):
                                   print('Hello', name)

                               greetPerson('Sara', 'Sana')

**Options:**<br>

A. Hello ('Sara', 'Sana')<br>
B. Hello, SaraHello, Sana<br>
C. Syntax Error! greetPerson() can take only one argument.<br>
D. Hello, Sara

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to check whether a number is in a range (1000,10000) or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a python code to print pascal triangle upto 5 steps (using list) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Write a program to get square of first five positive integers (use List Comprehension)  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 12. Write a program to reverse the digits of a positive integer (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 14. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to calculate perimeter of a square (take input for side of square from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Define a function to check whether the number is a palindrome or not (take input of number from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Define a function to concatenate two global strings </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings:**
    
string1 = 'Hello'<br>
string2 = 'World'

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

 result = lambda x: x <i>X</i> x<br>
 print(result(5))

**Options:**<br>
                                    
A. lambda x: x <i>X</i> x<br>
B. 25<br>
C. 5 . 5 <br>
D. lambda 5: 5 <i>X</i> 5

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a program to count the number of even and odd numbers from a given range of numbers </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the range:**<br>

range(34356, 362373)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to calculate square of number from 0 to 99 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a program to get the sum of all elements in the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [11, 22, 33, 44, 55]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 22. Write a program to read height in centimeters and then convert it to feet and inches  (take input for height from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 23. Which of the following code creates an empty set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. x = set()<br>
B. x = set([])<br>
C. x = set({})<br>
D. All of the above

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 24. Write a code to multiply two given lists </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the lists below:**

A = [1, 4, 5, 7, 3]

B = [2, 0, 8, -3]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Given x = True and y = False, obtain<br><br>
                       a.  x and y<br>
                       b.  x or y<br>
                       c.  not x<br>
                       d.    not y
                        </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. x and y**

**b. x or y**

**c. not x**

**d. not y**

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a function to reverse a string (take string input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                   list1 = [1, 2, 3, 4]
                                   list2 = [100, 200, 300, 400]

                                   output = list(map(lambda x, y: x+y , list1, list2))
                                   output

**Options:**<br>

A. 101, 202, 303, 404<br>
B. [100, 300, 200, 100, 1, 2, 3, 4 ]<br>
C. [1, 2, 3, 4, 100, 200, 300, 400]<br>
D. [101, 202, 303, 404]<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        numbers = [1, 3, 6]
                        newNumbers = tuple(map(lambda x: x , numbers))
                        print(newNumbers)

**Options:**<br>

A. [1, 3, 6]<br>
B. (1, 3, 6)<br>
C. [2, 6, 12]<br>
D. (2, 6, 12)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                 list1=[26621, 228727, 32727872, (4182982)]
                                 list2=list1.copy()
                                 list2

**Options:**<br>

A. [26621, 228727, 32727872, 4182982]<br>
B. [26621, 228727, 32727872, (4182982)]<br>
C. 26621, 228727, 32727872, 4182982<br>
D. None

In [ ]:
# write your code here

 
  <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a function to find whether a number is a power of two or not (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a function to create a list 5 numbers and find the largest number in that list (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 32. Write a program that takes a year and checks whether it is a leap year or not (take input for year from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 33. How will you add a new element to the given set? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

color_set = set(['red', 'orange', 'yellow'])

**Options:**<br>

A. color_set.add("green")<br>
B. color_set.add{("green")}<br>
C. color_set.add(["green"])<br>
D. None of the above

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Define a function to calculate an average of 2 numbers (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Compute the arithmetic operations using a = 34 and b = 564 <br><br>
                        a.  Addition of numbers  <br>
                        b.  Subtraction of numbers<br>
                        c.  Multiplication of numbers <br>
                        d.  Division(float) of numbers <br>
                        e.  Division(floor) of numbers <br>
                        f.  &nbsp;Modulo of both numbers <br>
                        g.  a raised to 5
                        </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Addition of numbers**

In [ ]:
# write your code here

**b. Subtraction of numbers**

In [ ]:
# write your code here

**c. Multiplication of numbers**

In [ ]:
# write your code here

**d. Division(float) of numbers**

In [ ]:
# write your code here

**e. Division(floor) of numbers**

In [ ]:
# write your code here

**f.  Modulo of both numbers**

In [ ]:
# write your code here

**g. a raised to 5**

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Write a function to display multiplication table of an integer (take integer input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                  list = [lambda m:m**2, 
                                          lambda m,n:m*n, 
                                          lambda m:m**4]

                                  print([list[0](10), list[1](2, 20), list[2](3)])

**Options:**<br>

A. 100, 40, 81<br>
B. 100<br>
&nbsp; &nbsp; &nbsp; 40<br>
&nbsp; &nbsp; &nbsp; 81<br>
C. [100, 40, 81]<br>
D. None<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                         def Foo(x):
                             if (x==1):
                                 return 1
                             else:
                                  return x+Foo(x-1)
                        print(Foo(4))

**Options:**<br>

A. 10<br>
B. 24<br>
C. 1<br>
D. 8

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Write the program to replace list values inside a tuple </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple:**
    
t = (1, 2, ['a', 'b', 1.2], 3, 4)<br>

Replace 'a' with 100

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        list1=[2, 3, [4, 5]]
                        list2=list1.copy()
                        list2[0]=88
                        list2

**Options:**<br>

A. [88, 3, 4, 5]<br>
B. [88, 3, [4, 5]]<br>
C.  88, 3, 4, 5<br>
D. None

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Write a program to find the second largest number in a list (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [67, 45, 34, 66, 54, 22]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 42. Write a program to read the marks of 5 subjects and display the grade.(assuming there are no passing marks) (take marks as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. What will be the output of the follwing code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                   color = {"orange", "yellow", "green", "red"}
                   number = {"Two", "One", "Three"}
                   color < number

**Options:**<br>

A. True<br>
B. False

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Write a function to calculate factorial of a number (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Write a program to read two numbers and print their quotient and remainder (take numbers as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>46. Write a program to find the sum of digits in a number using list (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

For example:<br>
If number = 86<br>
output should be equal to 8 + 6 = 14

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>47. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                              result = (lambda x, y: 'True' if x == y else 'False')
                              result("Python", "PyThon")

**Options:**<br>

A. True<br>
B. False

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>48. Suppose a tuple 'X' contains 15 elements. How can you set the 3rd element to âPythonâ?  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. X[2] = 'Python'<br>
B. Elements of tuple cannot be changed<br>
C. X[3] = 'Python'<br>
D. X(2) = 'Python'

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>49. Write a program to find ASCII value for entered character (take character input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 50. Consider a situation in which you need to calculate the price after tax for a list of transactions. For a given list of prices and a tax rate, write a user-defined function to get the final price</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the price list and tax rate given below:**

Price = [1.90, 28.56, 77.84, 45.56, 64.78] (Prices are in Lakhs)

TAX_RATE = .08

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 51. Create a new list by multiplying each element of the given list by 2 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

given_list = [10, 2, 7, 4, 5, 12]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 52. Write a program to find the common elements in the given lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [67, 47, 31, 54, 22, 87, 41, 54]

list2 = [22, 52, 74, 67, 42, 89, 47]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>53. If Name = {'John', 'Sunny', 'James', 'Robert' }, Which of the following statement is false ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. Name.remove('John')<br>
B. Name.add('John')<br>
C. Name.discard(1)<br>
D. Name{'James'} = 'Mary'

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>54. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                   set = {12, 35, 36, 36, 77}
                   set

**Options:**<br>

A. {12, 35, 36, 77}<br>
B. {12, 35, 36, 36, 77}<br>
C. 12, 35, 36, 36, 77<br>
D. 12, 35, 36, 77

In [ ]:
# write your code here


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>55. Write a program that takes three integers and prints all possible combinations from the digits (take integer inpur from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>56. Write a program that takes a string and create a dictionary with the word as key and frequency of the word as value </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the string given below: (or create your own string)**

str1 = 'they dont know that we know they know we know'

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>57. Write a code to find the gcd of two numbers (take input for two numbers from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>58. What is the output of  print((1, 2) + (3, 4)) ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. (1, 2, 3, 4)<br>
B. (1, 2) + (3, 4)<br>
C. (4, 5, 5, 6)<br>
D. ((1, 2), (3,4)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>59. Obtain one-one mapping of elements using zip function </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or you can create your own list)**<br>

x = ['a','b','c']

y = [1,2,3]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>60. Write a program to find the frequency of a particular number that occurs in a list (take input for number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or create your own list)**<br>

num_list = [1,2,1,2,4,2,5,7,5,8,6,9,55,4,1,26,5,21,6,5,2,1,7,41,3,6,25,74]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>61. Use the filter function to retrieve only the even numbers from a given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

tuple1 = (18, 29, 37, 42, 51, 68, 77, 82, 106, 215)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 62. Write a program to reverse elements in the tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below: (or create your own tuple)**

tuple1 = (23, 56, 11, 2, 44, 5)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>63. If a = {1, 3, 4, 5}, which of the following statement is false ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. a.update([1, 2, 3])<br>
B. a.update((1, 2, 3))<br>
C. a.update({1, 2, 3})<br>
D. a.update{(1, 2, 3)}<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>64. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    a ={} 
                    dict = a.fromkeys(['a', 'b', 'c', 'd'], (98, 30))
                    print (dict)

**Options:**<br>

A. {'a': (98, 30), 'b': (98, 30), 'c': (98, 30), 'd': (98, 30)}<br>
B. {'a': (98), 'b': (98), 'c': (30), 'd': (30)}<br>
C. {'a': (30), 'b': (30), 'c': (98), 'd': (98)}<br>
D. None of the above

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>65. Write a program that takes a number and prints an identity matrix of the same order (take input for number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>66. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    A = (12, 10)
                    B = (1, 2)
                    res = A + B
                    res += A
                    res

**Options:**<br>

A. (12, 10, 10)<br>
B. (12, 10, 1, 2, 12, 10)<br>
C. (12, 12, 10, 10)<br>
D. (12, 12)

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>67. Write a code to multiply 3X3 matrices</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the matrices given below:**

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>68. Write a program to get a list of odd numbers from a list using the filter function</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>69. Consider N = 3 and S = "Subject". Can N and S be concatenated such that their data types do not change? (Give a reason for your answer) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Option:** <br>

A. N and S can be concatenated. <br>
B. N and S can not be concatenated.

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>70. Write a program to convert a decimal number into a binary number using an in-built function (take decimal number as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>71. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                       list1 = [1,2,3,[4]] 
                                       list2 = list(list1)
                                       list1[3][0] = 5
                                       list1[1] = 7
                                       print(list2)

**Options:**<br>

A. [1 ,2, 3, [4]]<br>
B. [1, 7, 3, [5]]<br>
C. [1, 2, 3, [5]]<br>
D. [1, 4, 5, [8]]<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>72. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

lis = [24, 18, 24, 47, 52]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>73. Write a program to compute the sum of first N natural numbers (take input for 'N' from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>74. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            a = {'geeks' : 1, 'gfg' : 2} 
                            b = {'geeks' : 2, 'gfg' : 1} 
                            print (a == b)

**Options:**<br>

A. True<br>
B. False<br>
C. Error<br>
D. None

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>75. Write a program to print and remove every fourth number from a list of numbers until the list contains only one element </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

numbers = [41, 17, 25, 45, 3, 10, 99, 22, 24, 2]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>76. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            A = 34578
                            B = 3580
                            res1 = A + B
                            res1 /= 2
                            res1

**Options:**<br>

A. 1907<br>
B. 19079<br>
C. 19079.5<br>
D. None

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>77. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        tup = (2,4,5, "AB")
                        tup[3] = "J"
                        tup

**Options:**<br>

A. tup = (2,4,5, "J")<br>
B. tup = (2,4,"J", "AB")<br>
C. It will throw an error<br>
D. There will be no output printed

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>78. Use a list comprehension to find primes in range 2 to 100</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>79. Consider two lists X = [23, 65, 78] and Y = [2, 3]. Which of the following is the output for X.append(Y) and X.extend(Y) respectively </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. [23, 65, 78, [2, 3]] and [23, 65, 78, 2, 3] <br>
B. Both will give the same output [23, 65, 78, [2, 3]]<br>
C. Both will give the same output [23, 65, 78, 2, 3]<br>
D. [23, 65, 78, 2, 3] and [23, 65, 78, [2, 3]]<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>80. Write a program to generate harmonic progression with the first term as 1 and difference 2. (up to 10 terms)  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>81. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                 for x in set('pqr'):
                                      print(x*2)

**Options-**<br>

A. pp<br>
&nbsp; &nbsp;  rr<br>
&nbsp; &nbsp;   qq<br>
   
B. pqr<br>
  &nbsp; &nbsp; pqr<br>
  
C. pqrpqr<br>

D. ppqqrr

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>82. Create a dictionary with first five positive odd integers as keys and their cubes as values </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>83. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>84. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                print("python" != "PyThON")

**Options:**<br>

A. False<br>
B. True<br>
C. None<br>
D. Error

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>85. Write a function to get a single string from two given strings, separated by a space and swap the first character of each string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**

str1 = "anaconda"

str2 = "spyder"

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>86. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                             def func(message, num = 1):
                                 print(message * num)
 
                                 func('Hello', 2)
                                 func('Python')

**Options:**<br>

A. HelloHello<br>
&nbsp; &nbsp; Python<br>
B. Hello Hello<br>
&nbsp; &nbsp; Python<br>
C. Hello Hello Python<br>
D. None<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>87. Which of the following code will not create a list </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            A. lis = list(set())
                            B. lis = ()
                            C. lis = []
                            D. lis = list[]

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>88. Write a program to generate geometric progression with the first term as 1 and ratio to be 3. (up to 10 terms) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>89. What is the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                     for i in [1, 0]:
                                          print(i+1)

**Options:**<br>

A. 2<br>
&nbsp;&nbsp;&nbsp;&nbsp;1<br>
B. [2, 1]  <br>
C. [1, 2] <br>
D. 1<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>90. How can you change <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; num = {âoneâ: 1, âtwoâ: 3} to num = {âoneâ: 1, âtwoâ: 2} </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 91. Suppose Dictionary = {'deepak':4, 'anil':5}, which of the following command we use to remove the entry for 'deepak'?</b>
                </font>
            </div>
        </td> 
    </tr>
</table>

**Options-**<br>

A. Dictionary.delete(âdeepakâ:40)<br>
B. Dictionary.delete(âdeepakâ)<br>
C. del(Dictionary[âdeepakâ]) <br>
D. del(Dictionary(âanilâ:40))<br>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>92. Write a program to calculate the sum of marks in the given dictionary  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**<br>

Marks in 5 sujects of a student are given in the dictionary<br>
marks = {'Maths': 75, 'Chemistry': 87, 'Physics': 77, 'Biology': 92, 'English': 96 }

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 93. Write a program to multiply all the values in a dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

D = {'A': 57, 'B': 100, 'C': 84}

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>94. What is the value of the expression 120 // 20? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. 6<br>
B. 6.0<br>
C. 06<br>
D. None

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>95. Write a function to check whether the given number is prime or not (take input of number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>96. Define a function using a while loop to print a string 3 times? (take string input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>97. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                  def printLine(text):
                                      print(text, 'is cool.')

                                  printLine('Alexander')

**Options:**<br>

A. Alexander<br>
B. is cool.<br>
C. text, 'is cool.'<br> 
D. Alexander is cool.

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>98. Write a program to find maximum and the minimum value from a given set</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>99. Write a program to print a dictionary in a table format</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**The dictionary is given below:**

dict = {'A1':[1, 2, 3], 'A2':[5 , 6, 7], 'A3':[9, 10, 11]}

In [ ]:
# write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>100. Write a program to find the numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# write your code here